<!-- DataTales Example -->
<div
  class="tab-pane fade show active"
  id="show-feature"
  role="tabpanel"
  aria-labelledby="show-feature-tab"
>
  <div class="card shadow mb-4 mt-2">
    <div class="card-body">
      <div class="row">
        <div class="col-md-5">
          <form
            action="/admin/item/add/feature"
            method="POST"
            enctype="multipart/form-data"
          >
            <input type="hidden" name="itemId" value="<%= itemId %>" />
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" class="form-control" />
            </div>
            <div class="form-group">
              <label for="qty">QTY</label>
              <input type="number" name="qty" id="qty" class="form-control" />
            </div>
            <div class="form-group">
              <label for="image">Image</label>
              <input
                type="file"
                name="image"
                id="image"
                class="form-control"
                accept=".jpg, .jpeg, .png"
              />
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
        <div class="col-md-7">
          <div class="table-responsive">
            <table
              class="table table-bordered"
              id="dataTableFeature"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Name</th>
                  <th>QTY</th>
                  <th>Image</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <% for( let i = 0; i < feature.length; i++ ) { %>
                <tr>
                  <th><%= 1 + i %></th>
                  <th><%= feature[i].name %></th>
                  <th><%= feature[i].qty %></th>
                  <th>
                    <img
                      width="100"
                      class="img-fluid img-thumbnail"
                      src="https://admstaycation.herokuapp.com/<%= feature[i].imageUrl %>"
                      alt="<%= feature[i].name %>"
                    />
                  </th>
                  <th>
                    <button
                      data-id="<%= feature[i].id %>"
                      data-name="<%= feature[i].name %>"
                      data-qty="<%= feature[i].qty %>"
                      class="btn btn-sm btn-circle btn-warning btn__edit"
                    >
                      <i class="fas fa-edit"></i>
                    </button>
                    <button
                      data-itemid="<%= itemId %>"
                      data-id="<%= feature[i].id %>"
                      class="btn btn-sm btn-circle btn-danger btn__delete"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </th>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
