<div class="tab-pane show active" id="edit-item" role="tabpanel" aria-labelledby="edit-item-tab">
  <div class="card mt-2">
    <div class="card-body">
      <form action="/admin/item/<%= item.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" class="form-control" value="<%= item.title %>">
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" name="city" id="city" class="form-control" value="<%= item.city %>">
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" name="price" id="price" class="form-control" value="<%= item.price %>">
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <select name="categoryId" id="category" class="custom-select">
            <option disabled selected hidden>-- Pilih Kategori --</option>
            <% for( let i=0; i < category.length; i++ ) { %>
              <option <%=item.categoryId._id==category[i].id ? 'selected' : '' %> value="<%= category[i].id %>">
                  <%= category[i].name %>
              </option>
              <% } %>
          </select>
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input type="file" name="image" id="image" class="form-control" multiple accept=".jpg, .jpeg, .png">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea name="description" id="description" class="form-control editor">
            <%= item.description %> 
          </textarea>
        </div>
        <a href="/admin/item" class="btn btn-warning mr-2">Back</a>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
</div>